@import "scss/core";

* {
  color: $accent-color;
}

body {
  @include flex(space-evenly, center, column);
  background: $predominant-color;
}
.title {
  @include flex(center, center, row);
  gap: 4px;
  font-size: 14pt;
  font-weight: bold;
}
.link,
.goto-link {
  @include flex(unset, center, unset);

  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  color: $predominant-color;
  background-color: $accent-color;
}
.ph-rocket-launch {
  font-size: 14pt;
  color: $predominant-color;
}
.goto-link {
  cursor: pointer;
  font-weight: bold;
}
input:focus,
.goto-link:focus,
.goto-link:hover {
  outline: 1px solid $accent-color;
  outline-offset: 2px;
}
.goto-link:active {
  transition: 50ms ease-in-out;
  outline: 0px solid $accent-color;
  outline-offset: -2px;
}
