@import "scss/core";
* {
  color: $accent-color;
}
body {
  @include flex(center, center, column);
  gap: 10px;
  background: $predominant-color;
}
input,
button {
  @include flex(unset, center, unset);

  gap: 4px;
  padding: 8px;
  border-radius: 8px;
  color: $predominant-color;
  background-color: $accent-color;
  i {
    color: $predominant-color;
    font-size: 14pt;
  }
}
button {
  cursor: pointer;
  font-weight: bold;
}
input:focus,
button:focus,
button:hover {
  outline: 1px solid $accent-color;
  outline-offset: 2px;
}
button:active {
  transition: 50ms ease-in-out;
  outline: 0px solid $accent-color;
  outline-offset: -2px;
}
