@import "variables";
@import "functions";
@import "animations";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  user-select: none;
  font-family: system-ui;
  box-sizing: border-box;
  transition: 0.25s $def-timing-function;
}
html,
body {
  @include size(100%, 100%);
}
