@media (prefers-color-scheme: dark) {
  * {
    color: $light-color;
  }

  body {
    background: $dark-color;
  }

  .link,
  .goto-link {
    color: $light-color;
    background-color: $button-dark;

    &:focus,
    &:not(.link):hover {
      outline: 1px solid $button-dark;
    }

    &:is(.goto-link):active {
      outline: 0px solid $button-dark;
    }
    &:is(.link)::placeholder {
      color: $light-color;
    }
  }

  .ph-rocket-launch {
    color: $light-color;
  }
}
