@import "modules/core";
@import "indexLightTheme";
@import "indexDarkTheme";
body {
  @include flex(center, center, column);
}
.app {
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  @include size(100%, 100%);
  @include flex(flex-start, center, column);
}
.title {
  gap: 8px;
  @include size(100%, fit-content);
  @include font(16pt, 500, center);
  @include flex(flex-start, center, row);
}
.hint {
  padding: 24px 0;
}
.link,
.goto-link {
  @include size(100%, fit-content);
  padding: 8px;
  border-radius: 8px;
}
.goto-link {
  cursor: pointer;
}
.empty {
  background: red;
}
